*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  width: 1140px;
  gap: 30px;
}

.title {
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 399px;
}

.result__video-container {
  margin-top: 75px;
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  width: 711px;
  height: 54px;
  justify-content: space-between;
  padding-top: 12px;
}

.search-form__fieldset {
  border: none;
  width: 212px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  width: fit-content;
  gap: 15px;
}

.search-form__checkbox {
  cursor: pointer;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 225px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: inherit;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  border: 1px solid white;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  display: flex;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.search-form__label {
  display: flex;
  gap: 5px;
  cursor: pointer;
  align-items: center;
}

.search-form__label:has(input:checked) .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background: white;
  display: inline-block;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid white;
}

label:has(input.search-form__checkbox):has(:hover) {
  text-decoration: underline solid white;
}

.button {
  background-color: transparent;
  border: 1px solid white;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  color: white;
  height: 34px;
  cursor: pointer;
  padding: 0;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:hover {
  text-decoration: underline;
}

.content__list {
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__accent {
  color: rgba(84, 80, 80);
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  display: flex;
  width: 194px;
  height: 103px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 34px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: white;
  padding-bottom: 6px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  color: white;
  width: 200px;
}

.content__card-link {
  text-decoration: none;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link:hover {
  text-decoration: underline solid white;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
  height: 103px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  inline-size: 100%;
}

.more-button {
  width: 398px;
}

.content__video-card-description-container {
flex-grow: 1;
flex-basis: 0;
}
